{% extends '_admin.html.twig' %}

{% block title %}Utilisateur
{% endblock %}

{% block body %}
	<h1 class="h3 font-weight-normal healthh mt-5 ">L'utilisateur
		{{user.firstname}}
		{{user.lastname}}</h1>

	<div class="shadow p-3 mb-5 bg-body rounded col-4 position-absolute top-50 start-50 translate-middle">
		<div class="container col-10 mt-5 ">
			<div class="row">
				<table class="table">
					<tbody>
						<tr>
							<th>ID</th>
							<td>{{ user.id }}</td>
						</tr>
						<tr>
							<th>Nom</th>
							<td>{{user.firstname}}</td>
						</tr>
						<tr>
							<th>Prénom</th>
							<td>{{user.lastname}}</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>{{user.email}}</td>
						</tr>
						<tr>
							<th>Roles</th>
							<td>
								{% for role in user.roles %}
									{% if role == 'ROLE_USER' %}
										Utilisateur
									{% elseif role == 'ROLE_EDITOR' %}
										Editeur
									{% elseif role == 'ROLE_ADMIN' %}
										Administrateur


									{% endif %}


								{% endfor %}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<table>
				<tr>
					<td>
						<a href="{{ path('app_utilisateurs') }}" class="btn btn-primary">Retour</a>

					</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>

						<a href="{{ path('app_user_edit', {'id': user.id}) }} " class="btn btn-warning">Modifier</a>
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>

						{{ include('Backend/Admin/user/_delete_form.html.twig') }}
					</td>


				</tr>
			</table>
		</div>
	</div>
{% endblock %}
